*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(38, 67, 34);
}
.panel{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow-x: hidden;
    width: 90%;
    height: 90%;
    background-color: rgb(117, 160, 197);
}
.nav{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgb(75, 114, 69);
    
}
.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 10px 15px;
    width: 35px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    background-color: rgb(245, 242, 242);
   color: rgb(89, 145, 80);
}
.elem{
    display: flex;
    padding: 0px 20px;
    
}
#bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px ;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
   
}
.bubble{
    height: 40px;
    width: 40px;
    padding: 8px 15px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(75, 114, 69) ;
    border-radius: 50%;
}
.bubble:hover{
background-color: rgb(89, 156, 80) ;
}